<odoo>

    <menuitem id="policy_entry_menu" name="Policy Entry"
    />

    <menuitem id="policy_entry_data" name="Policy Data"
              parent="policy_entry_menu" sequence="1"/>
    <menuitem id="policy_entry_submenu" parent="policy_entry_data" name="Policy Entry"
              action="act_policy_entry" sequence="1"/>

<!--    <menuitem id="bussines_class_entry_submenu" parent="policy_entry_data" name="Vehicle Data"-->
<!--              action="act_bussiness_class" sequence="2"/>-->
    <menuitem id="producer_menu" parent="policy_entry_data" name="Producer Data"
              action="act_producer" sequence="3"/>
    <menuitem id="marine_data_menu" parent="policy_entry_data" name="Marin Data"
              action="act_marine_data" sequence="4"/>

      <menuitem id="medical_date_menu" parent="policy_entry_data" name="Medical Data"
              action="act_health_data" sequence="4"/>

<!--    <menuitem id="menu_insurance_data" parent="policy_entry_menu" name="Insurance Data"/>-->
<!--    <menuitem id="menu_bussinss_class_config" parent="menu_insurance_data" action="act_business_class_config"-->
<!--              name="Business Classes"/>-->
<!--    <menuitem id="menu_bussinss_class_category" parent="menu_insurance_data" action="act_insurance_category"-->
<!--              name="Category"/>-->

<!--    <menuitem id="menu_insurance_contract" parent="menu_insurance_data" action="act_insurance_contract_class"-->
<!--              name="Insurance Contract"/>-->

    <menuitem id="bussines_class_vehicle_menu" parent="policy_entry_menu" name="Vehicle Data"
              action="act_insurance_vehicle"/>
<!--    <menuitem id="config_menu" parent="policy_entry_menu" name="Configuration"/>-->

<!--    <menuitem id="menu_brand_master" parent="config_menu" action="act_branch_master" name="Brand Master"/>-->
<!--    <menuitem id="menu_location_master" parent="config_menu" action="act_insurance_location_master"-->
<!--              name="Location Master"/>-->
<!--    <menuitem id="menu_ded_type_master" parent="config_menu" action="act_ded_type_master" name="Ded Type Master"/>-->
<!--    <menuitem id="menu_region_master" parent="config_menu" action="act_insurance_insurance_region"-->
<!--              name="Region Master"/>-->
<!--    <menuitem id="menu_branch_master" parent="config_menu" action="act_branch_master" name="Branch Master"/>-->
<!--    <menuitem id="menu_vehicle_type_master" parent="config_menu" action="act_vehicle_type" name="Vehicle Type Master"/>-->
<!--    <menuitem id="menu_city_master" parent="config_menu" action="act_insurance_city" name="City Master"/>-->


    <!--      <menuitem id="annual_leave_report_menu" name="Inventory Closing Report" parent="stock.menu_warehouse_report"-->
    <!--                  action="lsc_closing_wizard_action"/>-->
</odoo>